*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    color: #6f6868;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
}
body{
    margin: auto 1px;
    background-color: #e2e2e2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/2.png);
    background-attachment: fixed;
}
/*------------------------------------------------------HEADING--------------------------*/
header{
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/2.png);
    background-attachment: fixed;
}
.start{
    margin:  0 45px;
}
.main-logo{
    height: 70px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}
.icon{
    margin-top: 10px;
}
.icon i{
    display: inline-block;
    vertical-align:middle;   /*parent er middle jaygay rakhtese*/
    color: black;
    border: 1px solid orangered;
    border-radius: 50%;
    height: 40px;
    width: 35px;
    text-align: center;
    padding: 4px;
    font-size: 150%;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
.link:link,
.link:visited{
    text-decoration: none;
    vertical-align:middle;
    text-align: right;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    padding-left: 8px;
    transition: color .3s;
}
.link:hover{
    color: orangered;
}
input{
    margin-top: 30px;
    padding-left: 0;
}
.searchbox{
     margin-right: 20px;
}
.input[type=text] {
    width: 150px;
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.8s ease-in-out;*/
}
/*input[type=text]:focus {
    width: 100%;
}*/
.logo,
.branch-link,
.support{
    display: inline-block;
    float: left;
    margin: 10px 10px;
    font-size: 85%;
}
.searchbox{
    float: right;
}
.clearfix{
    clear:both
}
/*---------------------------------------------------NAVIGATION MENU---------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F7F7F7;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    overflow: auto;
}

li {
    float: left;
}

li a,
.dropbtn,
.product-boxes a{
    font-weight: 300;
    display: inline-block;
    background-color: #F7F7F7;
    color: black;
    text-align: center;
    padding: 14px 16px;
    border-bottom: none;
    text-decoration: none;
    transition: background-color .3s, color .3s;
}

li a:hover,
.dropdown:hover,
.product-boxes a:hover{
    background-color: white;
    color: #43AAD8;
    border-bottom: 2px solid #43AAD8;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: visible;               /*nicher slider er upor dropdown menu rakhar jonno*/
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}
.homeButton{
    color: #43AAD8;
    font-weight: 500;
}

/*---------------------------------------------------SLIDESHOW---------------------*/
.slideshow{
    margin: 20px 10px;
    height: 350px;
    width: 1000px;
    overflow: visible;
    z-index: 1;
}
.slideImage{
    height: 350px;
    width: 100%;
}
/* Slideshow container */
.slideshow-container {
    width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*---------------------------------------------------FEATURED-PRODUCTS---------------------*/
h2, h3, h6{
    color: orangered;
    margin: 5px auto;
    margin-left: 5%;
    font-weight: 300;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #5c5555;
    content: "";
    width: 190px;
    margin-top: 10px;
}

h4{
    font-weight: 600;
}
.featured-products,
.product-boxes{
     margin: 30px auto;
}
.product-boxes{
    display: inline-block;
    text-align: center;
}
.product-boxes .box{
    background-color: white;
    width: 300px;
    display: inline-block;
    /*vertical-align: top;*/
    border: 1px solid #DDDDDD;
    margin-right: 10px;
    margin-top: 10px;
    
}
.product-boxes .box:nth-child(4n){
    margin-right: 0;
}
.product-boxes .box img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    padding: 20px;
}
.box a{
    width: 100%;
    height: 70px;
}
.box p{
    width: auto;
    text-align: center;
    padding: 10px;
}
h4{
    text-align: center;
}

/*----------------------------------------------------------FOOTER-------------------------------------*/
footer{
    background-color: #F7F7F7;
    padding: 25px;
    font-size: 80%;
    margin-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/2.png);
}
.footer-nav{
    list-style: none;
    display: inline-block;
}
.footer-nav li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child{
    margin-right: 0;
}
footer p{
    text-align: center;
    font-size: 95%;
    color: #dedede;
    margin: 10px auto;
}

/*---------------------------------------------------PRODUCTS PAGE---------------------*/
/*---------------------------------------------------PRODUCTS PAGE---------------------*/
/*---------------------------------------------------PRODUCTS-LIST---------------------*/
.straight{
    margin: 30px auto;
}
h3,
h6{
    display: inline-block;
    font-size: 150%;
}
h3:after{
    display: block;
    height: 2px;
    background-color: #5c5555;
    content: "";
    width: 115px;
    margin-top: 10px;
}
.sorting{
   display: inline-block;
}
.option{
    margin-left: 80%;
}
select{
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #c7c2c2;
}
/*---------------------------------------------------PAGINATION---------------------*/
.change-page{
    text-align: center;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/*---------------------------------------------------PRODUCT-DETAIL PAGE---------------------*/
/*---------------------------------------------------PRODUCTS-DETAIL PAGE---------------------*/
/*---------------------------------------------------PRODUCTS-DETAIL---------------------*/
.product-detail{
    text-align: center;
    margin: 20px auto;
}
h6{
    margin-left: 0;
}
h6:after{
    display: block;
    height: 2px;
    background-color: #5c5555;
    content: "";
    width: 505px;
    margin-top: 10px;
}
.img-box{
    background-color: white;
    text-align: center;
    margin: 20px 275px;
}
.img-box img{
    height: 250px;
    width: 290px;
}
.box2{
    text-align: center;
    background-color: #f2efef;
    border: 1px solid white;
    padding: 17px;
    margin: auto 65px;
    list-style: none;
    margin: 5px 275px;
    transition: background-color .3s;
}
.box2:hover{
    background-color: white;
}
.name{
    display: inline-block;
    margin-right: 30px;
    color: orangered;
    text-transform: uppercase; 
}
.value{
    display: inline-block;
}




